@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color:brown"><h1>@@Sunrise Cafe  </h1>
    <img src="@Url.Content("~/Content/Images/CoffeeBean.jpg")" alt="IMAGES" />
    
    

    <p class="lead"> It’s just a moment in time – just one hand reaching over the counter to present a cup to another outstretched hand.</p>
   
    <p class="lead">But it’s a connection. </p>
   

    <p class="lead">We make sure everything we do honors that connection – from our commitment to the highest quality coffee in the world, to the way we engage with our customers and communities to do business responsibly.</p>
    <img src="@Url.Content("~/Content/Images/Coffee1.jpg")" height="200" align="middle" width="250" alt="IMAGES" />
    <p class="lead"> From our beginnings as a single store over forty years ago, in every place that we’ve been, and every place that we touch, we've tried to make it a little better than we found it.</p>
    
    
 @*
<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@